@import "semantic-ui";

.signup{
  margin: auto;
  width: 40%;
  padding: auto;
}

.ui.menu {
  border-radius: 0;
}

.chatbox {
  height: 450px;
}

#messages {
  height: 15em;
  overflow: auto;
}


h1 {
  color: #e54b1a;
}
